.haya-phone
  .haya-header
    .haya-header__logo
      =image_tag src="user-header-logo.svg"
    %nav.progress
      %ul.progress-bar
        %li.through#through
          会員情報
          .progress-status
          .progress-status_bar__1
        %li.haya-through-1
          電話番号認証
          .progress-status__2
          .progress-status_bar
        %li.address#address
          お届け先住所入力
          .progress-status
          .progress-status_bar
        %li.end#end
          完了
          .progress-status
          .progress-status_bar
  .haya-phone-main
    .haya-phone-s
      .haya-single-main__container__registration 
        電話番号の確認
      = form_for @user, url: step3_signup_index_path, method: :get, html: {class: 'phone-number-form'} do |f|
        .haya-phone-3
          .haya-pohone-4
            .haya-phone-5
              携帯電話携帯電話の番号
            = f.telephone_field :phone_number, class: "haya-input", :placeholder => "携帯電話の番号を入力"
            - @user.errors.full_messages_for(:phone_number).each do |message|
              .error-message
                = message
            .haya-phon-kome
              本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
            .haya-sns-form
              = f.submit class:"hayabtn-1", value: "SNSを送信する"
            %p.haya-phone-kome-2
              ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
            .haya-denwa
              %p.haya-riyuu
                電話番号の確認が必要な理由
                %i.haya-icon-arrow
  = render "shared/signup-footer"