= render "shared/items_header"

.ichi__items__buy
  .ichi__items__buy__one
    購入内容の確認
  .ichi__items__buy__two
    .ichi__items__buy__two__title
      .ichi__items__buy__two__title__image
        =image_tag @item.item_images[0].image, class: "ichi__item__buy__image"
      .ichi__items__buy__two__title__name
        = @item.name
    .ichi__items__buy__two__price
      .ichi__items__buy__two__price__number
        ¥
        = @item.price.to_s(:delimited, delimiter: ',')
      .ichi__items__buy__two__price__text
        送料込み
    .ichi__items__buy__two__point
      ポイントはありません
    .ichi__items__buy__two__payment
      .ichi__items__buy__two__payment__text
        支払い金額
      .ichi__items__buy__two__payment__number
        ¥
        = @item.price.to_s(:delimited, delimiter: ',')
    - if @card.blank?
      .ichi__items__buy__two__confirmation
        配送先と支払い方法の入力お完了してください。
      .ichi__items__buy__two__nobuy
        購入する
    - else
      = link_to purchase_path(@item), method: :patch, data: { confirm: '商品を購入しますか？' }, class: "link__to__buy" do
        .ichi__items__buy__two__buy
          購入する


  .ichi__items__buy__three
    .ichi__items__buy__three__text
      配送先
    .ichi__items__buy__three__address
      .ichi__items__buy__three__address__top
        〒
        = @address.address_number
        <br>
        = @address.address_prefecture
        = @address.address_name
        = @address.address_block
        = @address.address_building
        = @address.address_phone_number
        <br>
        = @user.last_name
        = @user.first_name

    = link_to items_path, class: "ichi_change" do
      .ichi__items__buy__three__change
        .ichi__items__buy__three__change__text
          変更する
        .ichi__items__buy__three__change__icon
          =fa_icon 'chevron-right'
  .ichi__items__buy__four
    .ichi__items__buy__four__text
      支払い方法
    -if @card.present?
      .ichi__items__buy__four__card
        **** **** **** 
        = @default_card_information.last4
        = @exp_month + " / " + @exp_year
    - else
      .ichi__items__buy__four__card
        <br><br><br>
    = link_to new_credit_card_path, class: "ichi_change" do
      .ichi__items__buy__three__change
        .ichi__items__buy__three__change__text
          変更する
        .ichi__items__buy__three__change__icon
          =fa_icon 'chevron-right'

= render "shared/signup-footer"
