.kawa-sell-body
  .kawa-sell-page-container
    -# .sell-header(data-turbolinks="false")
    -#   %h1.sell-header__box
    -#     = link_to root_path, class:"sell-header__box__link" do
    -#       = image_tag "logo.svg", class:"sell-header__box__link__image", alt:"mercari", width:"120", height:"33"
    .kawa-sell-main
      .kawa-item-container
        .kawa-sell-container
          .kawa-sell-inner
            %h2.kawa-sell-inner__description
              商品の情報を入力
              = form_with model: @item, class:"sell-form", id:"new_item" do |f|
                .kawa-sell-form__upload-box
                  %h3.kawa-sell-form__upload-box__head
                    出品画像
                    %span.kawa-sell-form__upload-box__head__require
                      必須
                  %p.kawa-sell-form__upload-box__explain
                    最大5枚までアップロードできます
                    = f.fields_for :item_images, @item.item_images do |image|
                      .kawa-sell-form__upload-box__dropbox
                        #kawa-preview
                        .kawa-sell-form__upload-box__dropbox__container
                          = image.label :image, for: "upload-image" do
                            .kawa-sell-form__upload-box__dropbox__container__list
                              = image.file_field :image,multiple: "multiple", id:"upload-image", 'data-image': 0
                            .kawa-sell-form__upload-box__dropbox__container__frame
                              %pre.kawa-sell-form__upload-box__dropbox__container__frame__explain
                                ドラッグアンドドロップ
                                またはクリックしてファイルをアップロード
                        .kawa-sell-form__content
                          .kawa-sell-form__content__group--first
                            .kawa-sell-form__content__group__name
                              商品名
                              %span.kawa-sell-form__content__group__name__require
                                必須
                              = f.text_field :name, class: "sell-form__content__group__input", placeholder: "商品名（必須 40文字まで）"
                          .kawa-sell-form__content__group
                            .kawa-sell-form__content__group__name
                              商品の説明
                              %span.kawa-sell-form__content__group__name__require
                                必須
                              = f.text_area :explain, class: "sell-form__content__group__text", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
                        .kawa-sell-form__content--non-first
                          %h3.kawa-sell-form__content__head
                            商品の詳細
                          .kawa-sell-form__content__box
                            .kawa-sell-form__content__box__group--first#kawa-categories
                              .kawa-sell-form__content__box__group__name
                                カテゴリー
                                %span.kawa-sell-form__content__box__group__name__require
                                  必須
                              .kawa-sell-form__content__box__group__select
                                = fa_icon 'chevron-down', class:"kawa-arrow-bottom"
                                  = f.collection_select :category_id, @parents, :id, :name, {prompt: "---"}, class: "sell-form__content__box__group__select__wrap", id: "parent-form", name: "item[category_id]"
                                  = f.hidden_field :category_id, id:"cate_id", value:""
                            .kawa-sell-form__content__box__group
                              .kawa-sell-form__content__box__group__name
                                商品の状態
                                %span.kawa-sell-form__content__box__group__name__require
                                  必須
                              .kawa-sell-form__content__box__group__select
                                = fa_icon 'chevron-down', class:"kawa-arrow-bottom"
                                  = f.select :status, Item.statuses_i18n.keys.map { |k| [Item.statuses_i18n[k], k]} , {prompt: "---"} ,class: "sell-form__content__box__group__select__wrap"
                        .kawa-sell-form__content--non-first
                          %h3.kawa-sell-form__content__head
                            配送について
                          = link_to "", class:"kawa-sell-form__content__question" do
                            ?
                          .kawa-sell-form__content__box
                            .kawa-sell-form__content__box__group--first
                              .kawa-sell-form__content__box__group__name
                                配送料の負担
                                %span.kawa-sell-form__content__box__group__name__require
                                  必須
                              .kawa-sell-form__content__box__group__select
                                = fa_icon 'chevron-down', class:"kawa-arrow-bottom"
                                  = f.select :delivery_cost, Item.delivery_costs_i18n.keys.map { |k| [Item.delivery_costs_i18n[k], k]}, {prompt: "---"}, class: "sell-form__content__box__group__select__wrap"
                            .kawa-sell-form__content__box__group
                              .kawa-sell-form__content__box__group__name
                                配送の方法
                                %span.kawa-sell-form__content__box__group__name__require
                                  必須
                              .kawa-sell-form__content__box__group__select
                                = fa_icon 'chevron-down', class:"kawa-arrow-bottom"
                                  = f.select :delivery_way, Item.delivery_ways_i18n.keys.map { |k| [Item.delivery_ways_i18n[k], k]}, {prompt: "---"}, class:"sell-form__content__box__group__select__wrap"
                            .kawa-sell-form__content__box__group
                              .kawa-sell-form__content__box__group__name
                                発送元の地域
                                %span.kawa-sell-form__content__box__group__name__require
                                  必須
                              .kawa-sell-form__content__box__group__select
                                = fa_icon 'chevron-down', class:"kawa-arrow-bottom"
                                = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "---"}, class:"sell-form__content__box__group__select__wrap"
                            .kawa-sell-form__content__box__group
                              .kawa-sell-form__content__box__group__name
                                発送までの日数
                                %span.kawa-sell-form__content__box__group__name__require
                                  必須
                              .kawa-sell-form__content__box__group__select
                                = fa_icon 'chevron-down', class:"kawa-arrow-bottom"
                                = f.select :delivery_date, Item.delivery_dates_i18n.keys.map { |k| [Item.delivery_dates_i18n[k], k]}, {prompt: "---"}, class: "sell-form__content__box__group__select__wrap"
                            .kawa-sell-form__content--non-first
                              %h3.kawa-sell-form__content__head
                                販売価格(300~9,999,999)
                                = link_to "", class:"kawa-sell-form__content__question" do
                                  ?
                          .kawa-sell-form__content__box
                            %ul.kawa-sell-form__content__box__price
                              %li.kawa-sell-form__content__box__price__group
                                .kawa-sell-form__content__box__price__group__clearfix
                                  .kawa-sell-form__content__box__price__group__clearfix__name
                                    価格
                                    %span.kawa-sell-form__content__box__price__group__clearfix__name__require
                                      必須
                                  .kawa-sell-form__content__box__price__group__clearfix__input-box
                                    .kawa-sell-form__content__box__price__group__clearfix__input-box__yen
                                      ¥
                                      = f.text_field :price, id: "price_form", class: "sell-form__content__box__price__group__clearfix__input-box__frame", placeholder: "例）300"
                              %li.kawa-sell-form__content__box__price__clearfix
                                .kawa-sell-form__content__box__price__clearfix__name
                                  販売手数料（10%）
                                .kawa-sell-form__content__box__price__clearfix__fee#fee_column -
                              %li.kawa-sell-form__content__box__price__bold
                                .kawa-sell-form__content__box__price__bold__name
                                  販売利益
                                .kawa-sell-form__content__box__price__bold__benefit#benefit_column -
                        .kawa-sell-form__content--non-first
                          .kawa-sell-form__content__container
                            %p.kawa-sell-form__content__container__attention
                              = link_to "",class:"kawa-sell-form__content__container__attention__link" do
                                禁止されている出品
                              、
                              = link_to "",class:"kawa-sell-form__content__container__attention__link" do
                                行為
                              を必ずご確認ください
                            %p.kawa-sell-form__content__container__attention
                              またブランド品でシリアルナンバー等がある場合はご記載ください。
                              = link_to "",class:"kawa-sell-form__content__container__attention__link" do
                                偽ブランドの販売
                              は犯罪であり処罰される可能性があります。
                            %p.kawa-sell-form__content__container__attention
                              また、出品をもちまして
                              = link_to "",class:"kawa-sell-form__content__container__attention__link" do
                                加盟店規約に同意したことになります。
                              = f.submit "出品する", class:'sell-form__content__button'
                                = link_to "",class:"kawa-sell-form__content__back-button" do
                                  戻る
  = render "shared/signup-footer" 