.kawa-top-header
  = render "shared/header"
%nav.kawa-second-header
  %ul.pankuzu
    - breadcrumb :logout
    = breadcrumbs separator: " &rsaquo; " 
    -# - breadcrumb :logout
    -# = breadcrumbs pretext: "",separator: " &rsaquo; ", class: "bread"
.kawa-wrapper#kawa-background
  .kawa-container.kawa-clearfix
    = render "shared/side-bar"
    .kawa-right-content
      .kawa-right-content__main-box
        = render "shared/logouts"
.kawa-toppage-footer__image
  -# = image_tag 'mercari__footer.jpg', class: 'footer__image__pic', height: '260', width: '100%'
.kawa-last-footer
  = render "shared/footer"